extends ../layouts/pages

block title 
    -var title  = "Dota 2"

block content 
    .dota-box 
        .container 
            .row 
                .col-xxl-6.col-lg-6.col-md-12
                    .hero-section.pt-5
                        h1.hero-title.text-white.m-0 Dota 2
                        p.hero-desc.text-white.my-5 Dota 2 — компьютерная многопользовательская командная игра жанра стратегия в реальном времени с элементами компьютерной ролевой игры, реализация известной карты DotA для игры Warcraft III в отдельном клиенте.
                        p.hero-desc.text-white В игре участвуют две команды по пять человек. Одна команда играет за светлую сторону, другая — за тёмную. Каждый игрок управляет одним героем, каждый из которых обладает особыми навыками и умениями.
                .img-mobile 
                    img(src="./pic.fortnite-big.png", alt="")
            main 
                section.gallery.pt-5
                section.articles-py5
                    .container-xl.p-0 
                        h1.gallery-title Стаатьи
                        .row
                            .col-md-4 
                                .card 
                                    .card-body 
                                        img.card-img-top.md-4(src="./pic/articles/fortnite-arcticle-1.png", alt="")
                                    h5 Рецензия на Dota:Dragon`s Bloood.
                                    p.card-text
                                        "Каким получился мультсериал по Dota2 от автора "Легенды о королеве""
                                    a.btn.btn-primary(href="#") Читать
                                .col-md-4 
                                .card 
                                    .card-body
                                    
                                .col-md-4 

                                .card 
                                    .card-body

                    .container-xl.pt-0 
                        h1.gallery-title галерея
                        // swiper
                        .swiper.mySwiper
                            .swiper-wrapper
                            .swipper-slide 
                                img(src="/pic.fortnite-sllide1.png", alt="")
                            .swipper-slide 
                                img(src="/pic.fortnite-sllide2.png", alt="")
                            .swiper-button-next
                            .swiper-button-prev 
                             .img-mobile 
                    img(src="./pic.fortnite-big.png", alt="")
            main 
                section.gallery.pt-5
                section.articles-py5
                    .container-xl.p-0 
                        h1.gallery-title Стаатьи
                        .row
                            .col-md-4 
                                .card 
                                    .card-body 
                                        img.card-img-top.md-4(src="./pic/articles/dota-arcticle-1.png", alt="")
                                    h5 Рецензия на Dota:Dragon`s Bloood.
                                    p.card-text
                                        "Каким получился мультсериал по Dota2 от автора "Легенды о королеве""
                                    a.btn.btn-primary(href="#") Читать
                                .col-md-4 
                                .card 
                                    .card-body
                                    
                                .col-md-4 

                                .card 
                                    .card-body

                    .container-xl.pt-0 
                        h1.gallery-title галерея
                        // swiper
                        .swiper.mySwiper
                            .swiper-wrapper
                            .swipper-slide 
                                img(src="/pic.fortnite-sllide1.png", alt="")
                            .swipper-slide 
                                img(src="/pic.fortnite-sllide2.png", alt="")
                            .swiper-button-next
                            .swiper-button-prev 
                        
