
extends ../layouts/pages

block title 
    -var title  = "gta"

block content 
    .gta-box 
        .container 
            .row 
                .col-xxl-6.col-lg-6.col-md-12
                    .hero-section.pt-5
                        h1.hero-title.text-white.m-0 gta 
                        p.hero-desc.text-white.my-5 gta —Легендарное продолжение популярной серии Grand Theft Auto. Местом действия стал город Лос-Сантос, полюбившийся ещё в GTA: San Andreas.
                     Впервые игра расскажет историю сразу трех персонажей: Майкла, Тревора и Франклина, между которыми вы сможете переключаться в любое время.
                      .img-mobile 
                    img(src="./pic.gta-big.png", alt="")
            main 
                section.gallery.pt-5
                section.articles-py5
                    .container-xl.p-0 
                        h1.gallery-title Стаатьи
                        .row
                            .col-md-4 
                                .card 
                                    .card-body 
                                        img.card-img-top.md-4(src="./pic/articles/gta-arcticle-1.png", alt="")
                                    h5 Рецензия на Dota:Dragon`s Bloood.
                                    p.card-text
                                        Каким получился мультсериал по Dota2 от автора <Легенды о королеве>
                                    a.btn.btn-primary(href="#") Читать
                                .col-md-4 
                                .card 
                                    .card-body
                                    
                                .col-md-4 

                                .card 
                                    .card-body

                    .container-xl.pt-0 
                        h1.gallery-title галерея
                        // swiper
                        .swiper.mySwiper
                            .swiper-wrapper
                            .swipper-slide 
                                img(src="/pic.gta-sllide1.png", alt="")
                            .swipper-slide 
                                img(src="/pic.gta-sllide2.png", alt="")
                            .swiper-button-next
                            .swiper-button-prev 
                            
